*.dat
*.7z
/.idea
/.vs
.DS_Store
/cmake-build-*
/Builds
/JuceLibraryCode
/SpleeterRT/Executable/model.c
/Visualizers/projectM/frontend-sdl2/.idea
/Visualizers/projectM/projectm-4.0.0/.idea
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Dancer/Blobby Mirror/bdrv etAL Aderrasi - Accelerator (orbital Migraine)bdrv94 gdy neck problem solution (tense for hours) atrocious (adj) fellucinate (n).jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Dancer/Blobby Mirror/bdrv etAL Aderrasi - Accelerator (orbital Migraine)bdrv94 gdy neck problem solution (tense for hours) atrocious (adj) fellucinate (n).milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Dancer/Glowsticks Mirror/The NG + Flexi + AdamFX + shifter + LuxXx + Many Others - One Star, Some Years (A Memoir to Those Innocent Who Died During The Holocaust).jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Dancer/Glowsticks Mirror/The NG + Flexi + AdamFX + shifter + LuxXx + Many Others - One Star, Some Years (A Memoir to Those Innocent Who Died During The Holocaust).milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Explosions Mirror/suksma - dotes hostile undertake - one too many days under the iron - flacc good god another pointless thing (trapped in your perception of me).jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Explosions Mirror/suksma - dotes hostile undertake - one too many days under the iron - flacc good god another pointless thing (trapped in your perception of me).milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Explosions Mirror/suksma - dotes hostile undertake - one too many days under the iron - flacc nz+ atotal regard unfor nonaesthete more poisematic.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Explosions/fiShbRaiN - witchcraft (metropolish remix) - test - tillex  - bob boyce' 'the cell', pulstar, singh grooves, motor up, pre-filter cyclone xapo.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Explosions/fiShbRaiN - witchcraft (metropolish remix) - test - tillex  - bob boyce' 'the cell', pulstar, singh grooves, motor up, pre-filter cyclone xapo.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Explosions/suksma - coal drapes - mrt fsh gordo dog crap in my bed cuz i sleep wid my shoes on yes yes yall another extremely predictable piece of dada.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Explosions/suksma - coal drapes - mrt fsh gordo dog crap in my bed cuz i sleep wid my shoes on yes yes yall another extremely predictable piece of dada.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Explosions/when i first mixed this, i loved it, now, because of your existence, i fucking hate it - taken over by evil mage really is no on way incrimony.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Explosions/when i first mixed this, i loved it, now, because of your existence, i fucking hate it - taken over by evil mage really is no on way incrimony.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Fractal Mirror/An AdamFX Ultimate Twist inFX 2  flexi - crank prototype ft Martin - N AdamFX Devil at the Bottom  psitwait fuck all things satanus r.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Fractal Mirror/An AdamFX Ultimate Twist inFX 2  flexi - crank prototype ft Martin - N AdamFX Devil at the Bottom  psitwait fuck all things satanus r.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Growth Mirror/shifter + Flexi - liquid circuitry from the hive nz+ absolute module deqay holiday psychedell laptop subrandom vegetable deservatio.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Liquid Mirror/craving 'spinach man' action figures suppositoric nutrition - probing maternity burn mark fletcher nz+ more palettes turned ass ugly.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Liquid Mirror/craving 'spinach man' action figures suppositoric nutrition - probing maternity burn mark fletcher nz+ more palettes turned ass ugly.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Trails Mirror/fiShbRaiN - witchcraft (metropolish remix) - test - tillex  - bob boyce' 'the cell', pulstar, singh grooves, motor up, pre-filter cyclone.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Trails Mirror/fiShbRaiN - witchcraft (metropolish remix) - test - tillex  - bob boyce' 'the cell', pulstar, singh grooves, motor up, pre-filter cyclone.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Trails Mirror/Stahlregen & EoS + fiShbRaiN + flexi + fvese + Geiss + Rovastar + shifter - Stonecraft (MashUp 19 - Paranormal Reflecto Static Blur RMX).jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Trails Mirror/Stahlregen & EoS + fiShbRaiN + flexi + fvese + Geiss + Rovastar + shifter - Stonecraft (MashUp 19 - Paranormal Reflecto Static Blur RMX).milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Trails/suksma + flexi geiss rovastar roosta demonld shifter - dr horicon willn't ignore - flx chr schistiq phlyblownsys more non-timbral eye-fecals.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Trails/suksma + flexi geiss rovastar roosta demonld shifter - dr horicon willn't ignore - flx chr schistiq phlyblownsys more non-timbral eye-fecals.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Trails/suksma + flexi geiss rovastar roosta demonld shifter - dr horicon willn't ignore - flx chr schistiq phlyblownsys reasons to like pine-scent.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Drawing/Trails/suksma + flexi geiss rovastar roosta demonld shifter - dr horicon willn't ignore - flx chr schistiq phlyblownsys reasons to like pine-scent.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Fractal/Core Mirror/phat_CloseIncouneters_update EoS tweak - stocky satan troll shoots organic heat seakers to collect the damned at the tech metal woodstock.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Fractal/Core Mirror/phat_CloseIncouneters_update EoS tweak - stocky satan troll shoots organic heat seakers to collect the damned at the tech metal woodstock.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Fractal/Horizon Mirror/New Creations From Favorite - Milk F - X  Artist  - Martin n Flexi's Run in with AdamFX n Geiss - Willie Wonka n The Milk Factory .milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Fractal/Lattice Mirror/EoS - Phat - randombox - mantra 5 response lullquestent vlasphume cheapened to the point of pricelessness in terms of obsequiousness nz+.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Fractal/Lattice Mirror/EoS - Phat - randombox - mantra 5 response lullquestent vlasphume cheapened to the point of pricelessness in terms of obsequiousness nz+.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Fractal/Nested Circle/Collaboration Milk Celebration AdamFX  ExtreemFX FT flexi - divine struggle - Also Ft AdamFX n Martin (Divide Between Divine StruggleFX)B.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Fractal/Nested Circle/Collaboration Milk Celebration AdamFX  ExtreemFX FT flexi - divine struggle - Also Ft AdamFX n Martin (Divide Between Divine StruggleFX)B.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Fractal/Nested Spiral Multiple/By Adam FX 2 shifter + geiss - neon pulse (glow mix) + Rovastar + Orb  + Mstress - mash0000 - prismatic spectral haze filter.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Fractal/Nested Spiral Multiple/By Adam FX 2 shifter + geiss - neon pulse (glow mix) + Rovastar + Orb  + Mstress - mash0000 - prismatic spectral haze filter.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Fractal/Nested Spiral/Collaboration Milk Celebration AdamFX  ExtreemFX FT flexi - divine struggle - Also Ft AdamFX n Martin (Divide Between Divine StruggleFX)A.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Fractal/Nested Spiral/Collaboration Milk Celebration AdamFX  ExtreemFX FT flexi - divine struggle - Also Ft AdamFX n Martin (Divide Between Divine StruggleFX)A.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Fractal/Nested Square/MilkTop HDFX Presets  Ft Aderrasi,AdamFX,RovaStar,ShadowHarlequin,Martin n Flexi ft Baked  - BitStorm AftermathFX Beautiful Viral Overload A.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Fractal/Nested Square/MilkTop HDFX Presets  Ft Aderrasi,AdamFX,RovaStar,ShadowHarlequin,Martin n Flexi ft Baked  - BitStorm AftermathFX Beautiful Viral Overload A.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Fractal/Radial/The Begining AdamFX 2 Geiss - Reaction Diffusion 34 + Swelling Spiral  + Liquid Fire  + Geiss and Zylot + Various Milkdrop Mashup Artist 32.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Fractal/Radial/The Begining AdamFX 2 Geiss - Reaction Diffusion 34 + Swelling Spiral  + Liquid Fire  + Geiss and Zylot + Various Milkdrop Mashup Artist 32.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Geometric/Sphere Wild/amandio c - typhoon season - shf fab tetragrammaton structure, prime number resonance coriolis, wolfram fractal info xfer disidentify.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Geometric/Sphere Wild/amandio c - typhoon season - shf fab tetragrammaton structure, prime number resonance coriolis, wolfram fractal info xfer disidentify.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Geometric/Sphere Wild/shifter + Flexi - liquid circuitry from the neon grafitti hive nz+ agony lovesickle` invalid swizzle zeta muffin correlate tribunal.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Geometric/Tunnel Morph/fishbrain and flexi - box of tricks 18 \[moebius transformation + polar transformation = bipolar transformation\] --- Isosceles edit.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Particles/Blobby/suksma - phairess weale + mrt,flx - dezi vs dari in hate obligate babysit triplet towrez (kyler sees the other side of addiction) bennett.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Particles/Blobby/suksma - phairess weale + mrt,flx - dezi vs dari in hate obligate babysit triplet towrez (kyler sees the other side of addiction) bennett.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Particles/Orbit/skipper skipper kiss me hard - thank god for martin nitorami - there is no free will, there is no cause, there is no effect nz+ \#1 champion.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Particles/Orbit/skipper skipper kiss me hard - thank god for martin nitorami - there is no free will, there is no cause, there is no effect nz+ \#1 champion.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Reaction/Liquid Blobby/Adam Eatit Mashup FX 2 martin - disco mix + Lodus + Geiss + Ludicrous speed + Eos Ft Flexi Gimmie Color Ft Future Lighshow Cat the Elder 3.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Reaction/Liquid Blobby/Adam Eatit Mashup FX 2 martin - disco mix + Lodus + Geiss + Ludicrous speed + Eos Ft Flexi Gimmie Color Ft Future Lighshow Cat the Elder 3.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Reaction/Liquid Closeup/suksma - Chemlock - Spot (Zylot & Aderrasi equations) and martin shaders + christ's eternal damnation - if the condom fits vampires.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Reaction/Liquid Closeup/suksma - Chemlock - Spot (Zylot & Aderrasi equations) and martin shaders + christ's eternal damnation - if the condom fits vampires.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Reaction/Liquid Gradient/Redi Jedi - bob told me that the universe is all connected, kind of like points on a computer screen with pretty colors swirling.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Reaction/Liquid Simmering/A Remixed Digital Echasketch  Again 2 martin - no religion  + disco Fruits Machine + Raron + mstress + Rovastar (AdamFX Remix)6.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Reaction/Liquid Windy/Mashup ADAMFX 2 Flexi + Geiss - Bipolar vs reaction diffusion + Another Flexi + Fracticle Dancer 5 - fuckingdelic one-quarter celtic.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Reaction/Liquid Windy/Mashup ADAMFX 2 Flexi + Geiss - Bipolar vs reaction diffusion + Another Flexi + Fracticle Dancer 5 - fuckingdelic one-quarter celtic.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Reaction/Liquid Windy/shifter - a thousand monkeys_phat_edit+Redi Jedi(how are my monkeys suspost to do my homework in this earthquake) persistence beat_v2 hog rot nz.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Reaction/Liquid Windy/shifter - a thousand monkeys_phat_edit+Redi Jedi(how are my monkeys suspost to do my homework in this earthquake) persistence beat_v2 hog rot nz.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Reaction/Rorschach/when i first mixed this, i loved it, now, because of your existence, i fucking hate it - kobong, nyia, neuma, antigama nz --- Isosceles edit.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Reaction/Rorschach/when i first mixed this, i loved it, now, because of your existence, i fucking hate it - kobong, nyia, neuma, antigama nz --- Isosceles edit.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Sparkle/Explosions/Goody + martin - crystal palace - Schizotoxin - The Wild Iris Bloom - mess2 nz+ man behind curtain is actually the god behind the satan.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Sparkle/Explosions/Goody + martin - crystal palace - Schizotoxin - The Wild Iris Bloom - mess2 nz+ man behind curtain is actually the god behind the satan.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Waveform/Wire Circular/stahlregen & geiss + rovastar - fields of flowers (mashup 9 - space flower rmx) - mash0001 - pack em in, we got a long haul + flashlight.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Waveform/Wire Circular/stahlregen & geiss + rovastar - fields of flowers (mashup 9 - space flower rmx) - mash0001 - pack em in, we got a long haul + flashlight.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Waveform/Wire Flat Double/MegalomaGreg - Ambitions \[Flexi's mix 33 highest grade pixel fucker\] \[remix 07 washing away all the neon paint\] --- Isosceles edit.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Waveform/Wire Flat Double/MegalomaGreg - Ambitions \[Flexi's mix 33 highest grade pixel fucker\] \[remix 07 washing away all the neon paint\] --- Isosceles edit.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Waveform/Wire Spirograph/Fumbling_Foo, Martin, Orb, Flexi - Star Forge v7 (HAKAN mash-up) 2-55 \[mixwithv6v1bass\] remade7d \[\[pixel theme\]\] 0-2 {damaged publication}.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Waveform/Wire Spirograph/Fumbling_Foo, Martin, Orb, Flexi - Star Forge v7 (HAKAN mash-up) 2-55 \[mixwithv6v1bass\] remade7d \[\[pixel theme\]\] 0-2 {damaged publication}.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Waveform/Wire Spirograph/Fumbling_Foo, Martin, Orb, Flexi - Star Forge v7 (HAKAN mash-up) 2-55 \[mixwithv6v1bass\] remade7d \[\[pixel theme\]\] 0-4 v1 {storm of pixels}.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Waveform/Wire Spirograph/Fumbling_Foo, Martin, Orb, Flexi - Star Forge v7 (HAKAN mash-up) 2-55 \[mixwithv6v1bass\] remade7d \[\[pixel theme\]\] 0-4 v1 {storm of pixels}.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Waveform/Wire Spirograph/Fumbling_Foo, Martin, Orb, Flexi - Star Forge v7 (HAKAN mash-up) 2-55 \[mixwithv6v1bass\] remade7d \[\[pixel theme\]\] 0-7 v1 {more active}.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Waveform/Wire Spirograph/Fumbling_Foo, Martin, Orb, Flexi - Star Forge v7 (HAKAN mash-up) 2-55 \[mixwithv6v1bass\] remade7d \[\[pixel theme\]\] 0-7 v1 {more active}.milk
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Waveform/Wire Spirograph/Fumbling_Foo, Martin, Orb, Flexi - Star Forge v7 (HAKAN mash-up) 2-55 \[mixwithv6v1bass\] remade7d \[\[pixel theme\]\] 0-7 v2 {more active}.jpg
Visualizers/projectM/frontend-sdl2/creamofthecrop_20200216/Presets/Waveform/Wire Spirograph/Fumbling_Foo, Martin, Orb, Flexi - Star Forge v7 (HAKAN mash-up) 2-55 \[mixwithv6v1bass\] remade7d \[\[pixel theme\]\] 0-7 v2 {more active}.milk
